@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap'); /* https://fonts.google.com/specimen/EB+Garamond Weights: bold 700 */

@font-face {
    font-family: 'kanisahregular';
    src: url('assets/fonts/kanisah/kanisah-oodv-webfont.woff2') format('woff2'),
         url('assets/fonts/kanisah/kanisah-oodv-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
    .h2{
        font-weight: bold;
        font-size: 1.5rem;
    }
    .h1{
        font-weight: bold;
        font-size: 2.5rem;
    }

    .text-on-light-outline-primary{
        color: #FFF7E8;
        text-shadow:
        -1px -1px 0 #FF3E41,  
            1px -1px 0 #FF3E41,
            -1px 1px 0 #FF3E41,
            1px 1px 0 #FF3E41;
    }
}