@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap'); /* https://fonts.google.com/specimen/EB+Garamond Weights: bold 700 */

@font-face {
    font-family: 'kanisahregular';
    src: url('assets/fonts/kanisah/kanisah-oodv-webfont.woff2') format('woff2'),
         url('assets/fonts/kanisah/kanisah-oodv-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@tailwind base;

@layer base {
    body {
      @apply text-body;
    }
  
    @screen lg {
      body {
        @apply text-body-lg;
      }
    }
}

@tailwind components;

@tailwind utilities;

@layer utilities {
    .h2{
        @apply text-h2 font-bold;
    }
    @screen lg {
        .h2 {
          @apply text-h2-lg;
        }
    }
    .h1{
        @apply text-h1 font-bold font-display1;
    }
    @screen lg {
        .h1 {
          @apply text-h1-lg;
        }
    }

    .text-on-light-outline-primary{
        color: #FFF7E8;
        text-shadow:
        -1px -1px 0 #FF3E41,  
            1px -1px 0 #FF3E41,
            -1px 1px 0 #FF3E41,
            1px 1px 0 #FF3E41;
    }
}